.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 900;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
}

.black {
    text-decoration: none;
    color: #ffffff;
}

.white {
    text-decoration: none;
    color: #000000;
}

.variant-black {
    background-color: #000000;
    color: #ffffff;
}

.variant-white {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    padding: 7px 18px !important;
}