.container-card {
    width: 150px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.container-card img {
    width: 100px;
}

.container-card p {
    font-size: 14px;
}

.margin-center {
    margin-left: 10px;
    margin-right: 10px;
}