.App {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-top-none {
  margin-top: 0;
}

.flex-and-center {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

.little-margin-top {
  margin-top: 15px;
}

.little-padding-bottom {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.margin-horizontal-20 {
  margin-left: 20px;
  margin-right: 20px;
}